services:
  players-back:
    build:
      context: .
      dockerfile: ./Dockerfile 
    image: hugomode/hattrick-players-back:latest
    container_name: hattrick-players-back
    ports:
      - "8042:8080"
    environment:
      TZ: America/Santiago
      GIN_MODE: release
      LOG_LEVEL: info
      #database
      DB_POSTGRES_HOST: ${DB_POSTGRES_HOST}
      DB_POSTGRES_PORT: 5432
      DB_POSTGRES_USER: ${DB_POSTGRES_USER}
      DB_POSTGRES_PASS: ${DB_POSTGRES_PASS}
      DB_POSTGRES_NAME: mis_proyectos
      DB_POSTGRES_SCHEMA: ultra_hattrick
      DB_POSTGRES_MAX_OPEN_CONNECTIONS: 10
      #hattrick todo averiguar para que ocupar
      CONSUMER_KEY: ${CONSUMER_KEY}
      CONSUMER_SECRET: ${CONSUMER_SECRET}
      OAUTH1_TOKEN: ${OAUTH1_TOKEN}
      OAUTH1_TOKEN_SECRET: ${OAUTH1_TOKEN_SECRET}
      #url path hattrick
      BASE_RESOURCE_URL: "https://chpp.hattrick.org/chppxml.ashx"
      PLAYERS_MATCHES: "?file=matchlineup&version=2.1"
      PLAYERS_TEAM: "?file=players&version=2.6&actionType=view&orderBy=Age&teamID="
    networks:
      - proxy
    restart: unless-stopped   

networks:
  proxy:
    external: true
